img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
}

td,
th {
  border-bottom: thin solid rgba(0, 0, 0, 0.15);
  padding: 1em;
}

.dark-theme {
  td,
  th {
    border-color: rgba(255, 255, 255, 0.15);
  }
}

.math-container {
  padding: 4px;
  background-color: #eee;
  color: #000;
  border-radius: 6px;
  margin-left: 0;
  margin-right: 0;
}

.math {
  font-size: 1.5em;
  text-align: center;
}
