<div class="flex flex-col gap-y-8">
  <h1 class="font-bold text-3xl">Lessons</h1>

  <section>
    <h2
      id="beginner"
      class="mb-3 font-semibold text-2xl"
    >
      Beginner
    </h2>

    <div class="flex flex-col gap-y-8 px-1 pb-4">
      @for (map of beginnerLessonsGroupedByHand | keyvalue; track $index) {
        <ul>
          <li class="flex flex-col gap-y-4">
            @for (lesson of map.value; track $index) {
              <tiptap-lesson-detail [lesson]="lesson" />
            }
          </li>
        </ul>
      }
    </div>
  </section>

  <section>
    <h2
      id="intermediate"
      class="mb-3 font-semibold text-2xl"
    >
      Intermediate
    </h2>

    <div class="flex flex-col gap-y-8 px-1 pb-4">
      @for (map of intermediateLessonsGroupedByHand | keyvalue; track $index) {
        <ul class="flex flex-col gap-y-4">
          <li>
            @for (lesson of map.value; track $index) {
              <tiptap-lesson-detail [lesson]="lesson" />
            }
          </li>
        </ul>
      }
    </div>
  </section>
</div>
