<mat-sidenav-container class="h-full">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over"
  >
    <div class="h-full flex flex-col">
      <mat-toolbar id="sidenavToolbar">
        <div class="flex items-center gap-4">
          <img
            class="rounded mt-3"
            height="40"
            width="40"
            src="assets\apple-touch-icon.png"
            alt="Logo"
          />
          <span class="mt-3 text-2xl">Tip Tap</span>
        </div>
      </mat-toolbar>

      <mat-divider></mat-divider>

      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="drawer.close()"> Home </a>
        <a mat-list-item routerLink="lessons" (click)="drawer.close()">
          Lessons
        </a>
        <a mat-list-item routerLink="random" (click)="drawer.close()">
          Random
        </a>
      </mat-nav-list>

      <!-- Spacer -->
      <div class="flex-1"></div>

      <!-- Bottom -->
      <mat-divider></mat-divider>

      <mat-nav-list>
        <a mat-list-item href="#" (click)="drawer.close()">
          <div class="flex space-between">
            <span>Settings</span>
            <mat-icon>settings</mat-icon>
          </div>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Top nav -->
    <mat-toolbar id="topnav" class="w-full flex items-center mat-elevation-z2">
      <button
        mat-icon-button
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <nav class="hidden mt-2 ml-3 sm:flex items-center">
        <a mat-button routerLink="/" class="text-xl mr-2">Home</a>
        <a mat-button routerLink="lessons" class="link ml-1">Lessons</a>
        <a mat-button routerLink="random" class="link">Random</a>
      </nav>
    </mat-toolbar>

    <!-- Add Content Here -->
    <main class="max-w-4xl py-0 px-4 my-0 mx-auto">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
