<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over"
  >
    <mat-toolbar>
      <div class="logo-container">
        <a routerLink="/">
          <img src="assets\apple-touch-icon.png" alt="Home" class="app-logo" />
        </a>
        <span class="app-name">Tip Tap</span>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="lessons">Lessons</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Top nav -->
    <mat-toolbar
      id="topnav"
      class="flex align-items-center full-width mat-elevation-z2"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/" class="app-name">Tip Tap</a>
      <mat-nav-list *ngIf="!(isHandset$ | async)" class="ml-1">
        <a routerLink="lessons" mat-list-item>Lessons</a>
      </mat-nav-list>

      <span class="spacer"></span>

      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>
          {{ (isDarkTheme$ | async) ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here -->
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
