@use './scss/flex';
@use '@angular/material' as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$light-theme-primary: mat.define-palette(mat.$cyan-palette, 700);
$light-theme-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$light-theme-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-theme-primary,
      accent: $light-theme-accent,
      warn: $light-theme-warn,
    ),
  )
);

$dark-theme-primary: mat.define-palette(mat.$cyan-palette);
$dark-theme-accent: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-theme-primary,
      accent: $dark-theme-accent,
      warn: $light-theme-warn,
    ),
  )
);

a {
  color: #10818d;
  font-weight: 600;
  cursor: pointer !important;
}

.dark-theme {
  // https://github.com/angular/components/blob/master/guides/duplicate-theming-styles.md
  @include mat.all-component-colors($dark-theme);

  a {
    color: #00e2ff;
  }
}

@include mat.all-component-themes($light-theme);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
