@use "@angular/material" as mat;
@include mat.elevation-classes();
@include mat.app-background();

@tailwind base;
@tailwind components;
@tailwind utilities;

// Define a dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
  )
);

// Define a light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    ),
  )
);

html {
  color-scheme: light dark;

  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-themes($dark-theme);

  @media (prefers-color-scheme: light) {
    @include mat.elevation-classes();
    @include mat.app-background();
    @include mat.all-component-colors($light-theme);
  }
}

@layer base {
  kbd {
    @apply font-mono uppercase text-white rounded shadow-sm bg-zinc-800 dark:bg-zinc-700;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Geist", sans-serif;
}
