@use '@angular/material' as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

// Define a dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
  )
);

// Define a light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    ),
  )
);

html {
  // Apply the dark theme by default
  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);

  a {
    color: #00e2ff;
  }

  // Apply the light theme only when the user prefers light themes.
  @media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.core-color($light-theme);
    @include mat.all-component-themes($light-theme);

    a {
      color: blue;
      font-weight: 600;
      cursor: pointer !important;
    }
  }
}

@layer base {
  kbd {
    @apply font-mono uppercase text-white rounded shadow-sm;
    background-color: #212121;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Playpen Sans', cursive;
}
