<div
  class="flex flex-col gap-y-4 py-4"
  [class.dark-theme]="isDarkTheme$ | async"
>
  <section>
    <h1 class="text-3xl mb-2">Welcome to Tip Tap</h1>
    <p>
      Use Tip Tap to practice typing using the
      <a
        href="https://en.wikipedia.org/wiki/QWERTY"
        target="_blank"
        class="hover:underline"
      >
        QWERTY
      </a>
      keyboard layout.
    </p>
    <p>
      The Beginner and Intermediate
      <a
        routerLink="lessons"
        class="hover:underline"
        >lessons</a
      >
      are composed from the English alphabet. Each lesson is 60 seconds in
      duration. You are graded on a
      <a
        href="https://en.wikipedia.org/wiki/Words_per_minute"
        target="_blank"
        class="hover:underline"
      >
        words per minute (wpm)
      </a>
      scale. In this context, a word is a random sequence of 5 characters from a
      given character set (e.g.
      <code>[a, q, z]</code>).
    </p>
  </section>

  <div>
    <h2 class="text-2xl mb-2">Finger Placement</h2>

    <p>
      Your index fingers, both left and right, should always find their way back
      to <kbd class="px-2 py-1">F</kbd> and <kbd class="px-2 py-1">J</kbd>. The
      <kbd class="px-2 py-1">F</kbd> and <kbd class="px-2 py-1">J</kbd> keys
      have small bumps on each key to easily identify them without looking down
      at your keyboard.
    </p>
  </div>

  <div>
    <img
      class="w-full max-h-96 max-w-3xl mx-auto"
      alt="Typing-colour for-finger-positions"
      src="../../../assets/images/512px-Typing-colour_for-finger-positions.svg.png"
    />

    <div class="text-sm mt-1">
      <span>Attribution:</span>&nbsp;
      <a
        data-tooltip="Wikimedia"
        href="https://commons.wikimedia.org/wiki/File:Typing-colour_for-finger-positions.svg"
        target="_blank"
      >
        Cy21
      </a>
      ,
      <a
        data-tooltip="Creative Commons"
        href="https://creativecommons.org/licenses/by-sa/3.0"
        target="_blank"
      >
        CC BY-SA 3.0
      </a>
    </div>
  </div>

  <div class="flex">
    <table class="w-full text-center border-spacing-0">
      <thead class="py-2 border-b bg-zinc-200 dark:bg-zinc-800">
        <tr>
          <th>Finger</th>
          <th>Color</th>
          <th>Preview</th>
        </tr>
      </thead>
      <tbody>
        @for (datum of dataSource; track $index) {
          <tr class="border-b border-zinc-300 dark:border-zinc-700">
            <td>{{ datum.finger }}</td>
            <td>{{ datum.color }}</td>
            <td [style.background]="datum.hexColorCode"></td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div>
    <h2 class="text-2xl mb-2">Calculations</h2>
    <p>
      The following calculations are used to determine your score for each
      lesson.
    </p>

    <div
      id="maths"
      class="flex flex-col gap-y-4 mt-4"
    >
      <section>
        <h3 class="text-xl mb-2">Raw WPM</h3>
        <p>Raw WPM does not account for the errors you made.</p>
        <div class="rounded-md p-2 mx-0 mt-1 bg-zinc-200 dark:bg-zinc-800">
          <p class="text-center">
            <code> Raw WPM = (total characters / 5) / (time / 60) </code>
          </p>
        </div>
      </section>

      <section>
        <h3 class="text-xl mb-2">Net WPM</h3>
        <p>
          Net WPM <em>does</em> account for the errors you made by subtracting
          the error rate from your raw WPM score.
        </p>
        <div class="rounded-md p-2 mx-0 mt-1 bg-zinc-200 dark:bg-zinc-800">
          <p class="text-center">
            <code> New WPM = Raw WPM - (total errors / total characters) </code>
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
