<div
  class="flex flex-col gap-y-10 py-4"
  [class.dark-theme]="isDarkTheme$ | async"
>
  <section>
    <h1 class="text-3xl mb-4">Welcome to Tip Tap</h1>
    <p>
      Use Tip Tap to practice typing using the
      <a
        href="https://en.wikipedia.org/wiki/QWERTY"
        target="_blank"
        class="hover:underline"
      >
        QWERTY
      </a>
      keyboard layout.
    </p>
    <p>
      The Beginner and Intermediate
      <a
        routerLink="lessons"
        class="hover:underline"
        >lessons</a
      >
      are composed from the English alphabet. Each lesson is 60 seconds in
      duration. You are graded on a
      <a
        href="https://en.wikipedia.org/wiki/Words_per_minute"
        target="_blank"
        class="hover:underline"
      >
        words per minute (wpm)
      </a>
      scale. In this context, a word is a random sequence of 5 characters from a
      given character set (e.g.
      <code>[a, q, z]</code>).
    </p>
  </section>

  <div>
    <h2 class="text-2xl mb-4">Finger Placement</h2>

    <p>
      Your index fingers, both left and right, should always find their way back
      to <kbd class="px-2 py-1">F</kbd> and <kbd class="px-2 py-1">J</kbd>. The
      <kbd class="px-2 py-1">F</kbd> and <kbd class="px-2 py-1">J</kbd> keys
      have small bumps on each key to easily identify them without looking down
      at your keyboard.
    </p>
  </div>

  <div>
    <img
      class="w-full object-cover"
      alt="Typing-colour for-finger-positions"
      src="../../../assets/images/Typing-colour_for-finger-positions.svg"
      height="400"
      width="auto"
    />

    <div class="text-sm mt-1">
      <span>Attribution:</span>&nbsp;
      <a
        data-tooltip="Wikimedia"
        href="https://commons.wikimedia.org/wiki/File:Typing-colour_for-finger-positions.svg"
        class="text-cyan-800 dark:text-cyan-500"
        target="_blank"
      >
        Cy21
      </a>
      ,
      <a
        data-tooltip="Creative Commons"
        href="https://creativecommons.org/licenses/by-sa/3.0"
        class="text-cyan-800 dark:text-cyan-500"
        target="_blank"
      >
        CC BY-SA 3.0
      </a>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr>
          <th class="p-3 bg-zinc-200 dark:bg-zinc-800 text-left">Finger</th>
          <th class="p-3 bg-zinc-200 dark:bg-zinc-800 text-left">Color</th>
          <th class="p-3 bg-zinc-200 dark:bg-zinc-800 text-left">Preview</th>
        </tr>
      </thead>
      <tbody>
        @for (datum of dataSource; track $index) {
          <tr>
            <td class="p-2 border border-zinc-200 dark:border-zinc-800">
              {{ datum.finger }}
            </td>
            <td class="p-2 border border-zinc-200 dark:border-zinc-800">
              {{ datum.color }}
            </td>
            <td
              class="p-2 border border-zinc-200 dark:border-zinc-800"
              [style.background]="datum.hexColorCode"
            ></td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <section>
    <h2 class="text-xl mb-2">Raw WPM</h2>
    <p>Raw WPM does not account for the errors you made.</p>
    <div class="rounded-md p-2 mx-0 mt-1 bg-zinc-200 dark:bg-zinc-800">
      <p class="text-center">
        <code> Raw WPM = (total characters / 5) / (time / 60) </code>
      </p>
    </div>
  </section>

  <section>
    <h2 class="text-xl mb-2">Net WPM</h2>
    <p>
      Net WPM accounts for the errors you made by subtracting the error rate
      from your raw WPM score.
    </p>
    <div class="rounded-md p-2 mx-0 mt-1 bg-zinc-200 dark:bg-zinc-800">
      <p class="text-center">
        <code> New WPM = Raw WPM - (total errors / total characters) </code>
      </p>
    </div>
  </section>
</div>
