<nav class="flex items-center justify-between p-4 font-mono uppercase">
  <div>
    <a
      routerLink="/"
      class="cursor-pointer px-3 py-2 rounded hover:text-zinc-600 dark:hover:text-zinc-200"
    >
      TIP TAP
    </a>
  </div>
  <div class="hidden sm:flex">
    <ul class="flex items-center gap-x-2 tracking-widest">
      <li></li>
      <li>
        <a
          routerLink="lessons"
          class="cursor-pointer px-3 py-2 rounded hover:text-white hover:bg-gradient-to-r from-cyan-500 to-blue-500"
        >
          Lessons
        </a>
      </li>
      <li>
        <a
          routerLink="random"
          class="cursor-pointer px-3 py-2 rounded hover:text-white hover:bg-gradient-to-r from-cyan-500 to-blue-500"
        >
          Random
        </a>
      </li>
    </ul>
  </div>
</nav>
